{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
          {{ with .Params.description  }}
          <p class="center lh-copy mt3 mb4">
            <i>{{ . }}</i>
          </p>
          {{ end }}
        </div>
        <div class="post-meta">
          {{ if .Params.authors }}
            {{$n := len .Params.authors | default 0}}
            {{ if (ge $n 2) }}
              by
              {{range  $i, $e := .Params.authors}}
                <a href="{{.link}}" target="_blank">{{.name}}</a>{{ if (and (ge $n 3) (le $i (add $n -2) ))}}, {{end}}{{if eq (add $i 2) $n}} and {{end}}
              {{end}}
            {{end}}
          {{end}}
          <div class="date">
            <span class="posted-on">
              <i class="fas fa-calendar"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fas fa-clock"></i>
              {{ i18n "readingTime" .ReadingTime }}
            </span>
          </div>
        </div>
      </header>

      <div>
        {{ .Content }}
      </div>

      <footer>
        {{ partial "posts/disqus" . }}
      </footer>
    </article>

    {{ partial "posts/math" . }}
  </section>
{{ end }}
